body {font-family: Arial, Helvetica, sans-serif; height: 100%;}
      
/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 12.5%; /* Location of the box */
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
border-radius: 0.75rem;
width: 40%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

/* The Close Button */
.close {
color: white;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.modal-header {
border-radius: 0.6rem 0.6rem 0 0;
padding: 2px 16px;
background-color: rgb(77, 187, 214);
color: white;
}

.modal-body {padding: 20px 16px; text-align: center;}

.wrap{   
margin: 32px 0px;
padding-bottom: 16px;
background-color: white;
border-radius: 1rem;
box-shadow: 0 1px 3px 0px rgba(72, 73, 94, 0.25);
}

.list{   
height: 200px;
overflow:auto;
}

.title{
border-radius: 1rem;
padding: 16px;
border-radius: 1rem 1rem 0rem 0rem;
margin:0;
}

button:focus{
outline: none;
}

.room{
height: 48px;
padding: 12px 20px;
border-bottom: rgb(196, 196, 196) 0.1px solid;
}

.room:hover{
background-color: rgba(255, 203, 134, 0.5);
}

.member{
padding: 0.5rem 0.75rem;
margin: 0.3rem 0.4rem;
background-color: rgb(255, 241, 117); 
float: left;
}

body { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
#box { background: white; max-width: 800px; margin: 32px auto; padding: 16px 24px; border-radius: 1rem; box-shadow: 0 1px 3px 0px rgba(72, 73, 94, 0.25);}
#message { background: white; max-width: 800px; margin: 0px auto; padding: 20px 10px 10px 10px; border-top:rgb(255, 94, 0) 1.5px solid; visibility: hidden;}
#post_list { height: 475px; padding-bottom: 8px; overflow:auto;}
@media (max-width: 768px) {
.list{
    height: 100px;
}
#post_list{
    height: 400px;
}
.modal-content{
    min-width: 65%;
}
.wrap, #box{ margin: 8px 0px;}
.wrap{ padding-bottom: 8px;}

#send{
    margin-top: 2.5px !important;
}
.heart{
    margin: 2px 7px !important;
}
}

.navbar{
background: rgb(255, 137, 2);
}

#dropdown01{
padding: 0px 12px 5px 12px!important;
}

#signout{
color: #ffdda9;
background: rgb(255, 137, 2);
padding: 8px;
border: 2px solid #ffdda9;
border-radius: 0.35rem;
transition: all 0.4s ease 0s;
}

#signout:hover {
color: #494949;
border-radius: 2rem;
border-color: #494949;
transition: all 0.4s ease 0s;
}

.msg{
border-radius: 1rem;
display:inline-block !important;
padding: 0.4rem 0.8rem; 
margin-top: 2px;
}

.text1{
background-color: rgb(255, 223, 116);
}
.text2{
background-color: rgb(255, 156, 25);
}

.heart_img{
width: 40px;
height: 40px;
}

.time{
color: rgb(189, 184, 184);
font-size: 12px; 
}

.name{
color: rgb(104, 102, 102);
font-size: 14px; 
}

.icon{
display:inline-block !important;
padding: 0rem 0.2rem; 
}


textarea{
width: 50%;
height:35px;
margin: 0 0.3rem;
border:rgb(255, 115, 0) 0.1rem solid;
border-radius: 0.4rem;
resize: none;
outline: none;
padding: 2px 5px;

}

#send {
height:30px;
padding:0.3rem 0.6rem;
margin-top: 0.45em;
outline: none;
background-color: #ecae04;
border: none;
border-radius:0.4rem;
box-shadow: 0 0.35rem #a5b6b8;
}

#send:hover{
background-color: #ffd900;
}

#send:active {
outline: none;
box-shadow: 0 0.2rem #a5b6b8;
transform: translateY(4px);
}

#myBtn{
float: right;
color: #494949;
width: 30px;
height: 30px;
background: #ffffff;
border: 2px solid #494949;
border-radius: 1rem;
transition: all 0.4s ease 0s;
}

#myBtn:hover{
color: #ffffff;
background: #ff6600 !important;
border-color: #ff6600 !important;
transition: all 0.4s ease 0s;
}

.t{
border:rgb(104, 102, 102) 1px solid;
border-radius: 0.5rem;
float: left;
}

.group{
height: 200px;
overflow:auto;
}

.heart{
margin: 7px 3px;
}

.heart:hover{
    opacity: 0.8;
}

.img{
width: 35px;
height: 35px;
}
