body { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
#message { background: white; max-width:400px; margin: 100px auto 16px; padding: 32px 24px; border-radius: 1rem; box-shadow: 0 1px 3px 0px rgba(72, 73, 94, 0.25); }
#message h1 { color: #ffaf1b; font-weight: bold; margin: 0 0 12px; }
@media (max-width: 768px) {
body, #message { margin-top: 0; background: white; box-shadow: none; }
body { border-top: 16px solid #ffaf1b; }
}

button, input:focus{
outline:none;
}

button{
background-color:rgb(255, 145, 0);
color:rgb(255, 255, 255);
border: hidden;
border-radius: 0.5rem;
padding: 0.3rem 0.5rem;
}

input{
width: 50%;
border: 0.1rem rgb(255, 145, 0) solid;
border-radius: 0.3rem;
}

.email{
margin-right: 2.4rem;
}
.name{
margin-right: 2.2rem;
}

button:focus{
outline: none;
}

button:hover{
background-color:rgb(255, 208, 0) !important;
}